<%- include('../partials/_head') %>

<h1 class="headers">Admin Main Page</h1>
<a href="/admin/login" class="btn btn-light whitebtn">Login</a>
<a href="/admin/register" class="btn btn-light whitebtn">Register</a>
<br>

<%- include('../partials/_footer') %>