<%- include('../partials/_head') %>

<h1>Admin Main Page</h1>
<a href="/admin/login" class="btn btn-light">Login</a>
<a href="/admin/register" class="btn btn-light">Register</a>
<br>

<%- include('../partials/_footer') %>