<%- include('../partials/_head') %> 

<% if (typeof error !== 'undefined') { %> 
<span><%= error %> </span>
<% } %> 

<h1>Login below</h1>
<form action="/admin/login" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    
    <input type="submit" value="Login">
    </form>

<%- include('../partials/_footer') %> 