<%- include('../partials/_head') %>

<h1 class="headers">Register Here</h1>

<form action="/admin/register" method="POST">
<div class="form-group row groupwidth">
    <label for="username" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" name="username">
    </div>
  </div>
  <div class="form-group row groupwidth">
    <label for="email" id="email" name="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email">
    </div>
  </div>
  <div class="form-group row groupwidth">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" name="password">
    </div>
  </div>
  <div class="form-group row groupwidth">
    <label for="password2" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password2" name="password2">
    </div>
  </div>
  <input type="submit" value="Register" class="btn btn-large whitebtn">
</form>

<%- include('../partials/_footer') %>