<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten Friends</title>
  </head>

  <body>
    <h1>Forgotten Friends</h1>
    <h2>Pet adoption and foster</h2>
    <%- include('_nav') %>



