
<nav class="navbar">

            <a href="/admin">Admin</a>

 
            <a href="/animals">Find A Friend</a>
   
 
            <a href="/">Homepage</a>
    
    
            <a href="/animals/new">Make a new Animal Profile</a>
      

</nav>