<%- include('../partials/_head') %> 

<body>
    <form action="/animals/<%= animal._id %>?_method=PUT" method="POST">
        <label for="name">name</label>
        <input type="text" id="name" name="name" value="<%= animal.name %>">
        <input type="submit" value="update animal">
        </form>
</body>

<%- include('../partials/_footer') %> 