<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animals</title>
</head>
<body>
    <% animals.forEach((animal) => { %>
        <a href="/animals/<%= animal._id %>">
        <%= animal.name %> 
        </a>
   <% }) %>
</body>
</html>