<%- include('../partials/_head') %> 
<div class="body_container">
    <p>
    <% animals.forEach((animal) => { %>
        <a href="/animals/<%= animal._id %>">
        <%= animal.name %> 
        </a>
        <br>
    <img src="<%= animal.image %>" alt="animal picture">
    </p>
   <% }) %>
</div>
</body>
</html>