<%- include('../partials/_head') %> 


<body>


    <h1>add new animals</h1>

    <% if (typeof error !== 'undefined') { %> 
        <span> <%= error %> </span>
        <% } %> 

    <form action="/animals" method="POST">
    <label for="name">name</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="age">Age</label>
    <input type="number" id="age" name="age">
    <br>
    <label for="description">Description</label>
    <input type="text" id="description" name="description">
    <br>
    <label for="image">add image url</label>
    <input type="text" id="image" name="image">
    <br>
    <input type="submit" value="add animal">
    </form>
</body>

<%- include('../partials/_footer') %> 