<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Animals</title>
</head>
<body>
    <h1>add new animals</h1>
    <form action="/animals" method="POST">
    <label for="name">name</label>
    <input type="text" id="name" name="name">
    </form>
</body>
</html>