<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Animals Page</title>
	</head>
	<body>
		<header>
            <h1>Forgotten Friends</h1>
			<h2>All Animals</h2>
			<nav>
				<ul>
					<li>
						<a href="/admin">Admin</a>
					</li>
					<li>
						<a href="/animals">Find A Friend</a>
                    </li>
                    <li>
						<a href="/">Homepage</a>
					</li>
				</ul>
            </nav>
		</header>
    </body>
    <body>
        <section>
            <h3><%= animal.name %></h3>
            <form action="/animals/<%= animal._id%>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
        </section>
    </body>
</html>