body {
    font-family: 'Playfair Display SC', serif;
    background-color: #4682B4;
    text-align: center;
    color: whitesmoke;
    margin: 0;
}
.body-container {
    display: flex;
    justify-content: space-evenly;
}
h1 {
    font-size: 50px;
}
.navbar {
    padding: 15px;
}
.navbar a {
  text-decoration: none;
  padding: 10px;
}
.media-body {
    align-items: center;
}
